
/* Apply Damaging color to everything, so we can find all the and fix them */
* {
  margin: 0;
  padding: 0;
  color:#EEE;
  background-color: #222;
  font-family: Arial, Helvetica, sans-serif;
}

/* Fix the color on some things. */
table, tr, td, dl, dt, dd, p, b, em,
.memproto, .return, .memdoc, .memitem, .contents, .textblock,
.mlabels, .mlabel, .paramtype, .paramname, .memtemplate{
    background-color: #111;
}

body {
    margin-left: 6%;
    margin-right: 6%;
}

p {
    margin-top: 0.3em;
}



.contents {
    border-width: 2px;
    border-style: solid;
    border-color: #8dd3ab;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 2%;
}

.smaller {
    font-size: 40%;
    display: inline;
    color: #528f6c;
}

hr.footer {
    margin-top: 1em;
}

.memItemRight, .memItemLeft {
    border-top: 1px solid #444;
    padding-top: 0.2em;
}

.memSeparator {
    font-size: 0%;
}

.textblock {
    border-top: 1px solid #444;
}

/* Many links */
.el, td a, p a {
    background-color: #111;
}

/* Member Prototype */
.memproto {
    border-top: 1px solid #444;
    margin-top: 1em;
}

/* Member Name */
.memname {
    font-size: 105%;
    font-weight: bold;
}

/* Special annotations */
dl.note, dl.warning, dl.attention, dl.pre, dl.post, dl.invariant,
dl.deprecated, dl.todo, dl.test, dl.bug {
        border-left: 4px solid;
        padding-left: 6px;
        background-color: #111;
}

dl.note {
        border-color: #D0D000;
}

dl.warning, dl.attention {
        border-color: #FF0000;
}

dl.pre, dl.post, dl.invariant {
        border-color: #00D000;
}

dl.deprecated {
        border-color: #505050;
}

dl.todo {
        border-color: #00C0E0;
}

dl.test {
        border-color: #3030E0;
}

dl.bug {
        border-color: #C08050;
}

dt {
    font-weight: bold;
}

.section, dl.params {
    margin-top: 0.3em;
}

.pagetitle {
    font-size: 250%;
    color: #528f6c;
    font-weight: bold;
}

.title {
    font-size: 200%;
    text-indent: 0px;
    color: #528f6c;
    font-weight: bold;
    margin-bottom: -5px;
    margin-top: 1em;
}

h1, h2, h3, h4, h5, h6 {
    background-color: #111;
    margin-top: 1em;
}

h1 {
    font-size: 185%;
    text-indent: 0px;
    color: #528f6c;
}

h2 {
    font-size: 170%;
    text-indent: 20px;
    color: #528f6c;
}

h3 {
    font-size: 155%;
    text-indent: 40px;
    color: #528f6c;
}

h4 {
    font-size: 140%;
    text-indent: 60px;
    color: #528f6c;
}

h5 {
    font-size: 125%;
    text-indent: 80px;
    color: #528f6c;
}

h6 {
    font-size: 110%;
    text-indent: 100px;
    color: #528f6c;
}

/* C++ Keywords */

.mlabels, .mlabel, .paramtype {
    color: #bdf8d6;
}

iframe {
    border: 2px;
    border-style: solid;
    border-color: #8dd3ab;
    border-top-left-radius: 1em;
    border-bottom-right-radius: 1em;
    transition: display 2s;
}

/* Hover over links */
p a, td a, a.el {
    transition: border 1s, border-color 1s, border-top-left-radius 1s,
        border-bottom-right-radius 1s, background-color 1s, text-decoration 1s, color 1s;
    padding-left: 0.5ex;
    padding-right: 0.5ex;
}

p a:focus, p a:hover,
td a:focus, td a:hover,
a.el:focus, a.el:hover{
    border: 1px;
    border-color: #8dd3ab;
    border-top-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
    background-color: #8dd3ab;
    text-decoration: none;
    color: #222;
}

/* Nav bars */

.tablist {
        display: table;
}

.tablist li {
        float: left;
        display: table-cell;
        line-height: 4ex;
        list-style: none;
}

.tablist a {
        border-top-left-radius: 1em;
        border-bottom-right-radius: 1em;
        display: block;
        padding: 0 1em;
        font-weight: bold;
        text-decoration: none;
        outline: none;
}
