/CMakeLists.txt.user.2.5pre1
# QT Creator Items
CMakeLists.txt.user

# Gedit Temp Files
*~

# Libraries
*.a
*.dll
*.so
*.so.*


# Mac OS X spotlight
.DS_Store


# Ignore libincludes mercurial files
.hg*

# other git files
.git*
