<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="physgamelauncherFrame">
		<size>350,400</size>
		<id_arg>0</id_arg>
		<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
			<pos>200,136</pos>
			<object class="wxButton" name="RUN_GAME2" variable="Button1" member="yes">
				<label>Play</label>
				<pos>224,64</pos>
				<size>104,28</size>
				<handler function="RunGame" entry="EVT_BUTTON" />
			</object>
			<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
				<label>Options</label>
				<pos>224,120</pos>
				<size>104,28</size>
			</object>
			<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
				<label>Load new files</label>
				<pos>224,176</pos>
			</object>
			<object class="wxButton" name="idMenuQuit2" variable="Button4" member="yes">
				<label>Quit</label>
				<pos>224,232</pos>
				<size>104,28</size>
				<handler function="OnQuit" entry="EVT_BUTTON" />
			</object>
		</object>
	</object>
</wxsmith>
